<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>

  {{>navbar}}
 
  <div class="container-fluid main_header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <!-- left side div -->
        <div class = "col-md-12 col 12 main_header_left align-items-center">
            <figure class="errimg">
                <img src="https://img.freepik.com/free-vector/error-404-concept-landing-page_52683-12188.jpg?w=740&t=st=1681969716~exp=1681970316~hmac=9494540c97a5a5160977b583f593643a69dc237985a6882e1b3f3d0b986ed1ac.png" alt="Praduman" class="img-fluid" >
            </figure>

            <p>Welcome to WorldWeather!</p>
            <h1>{{errMsg}}</h1>
            <a href="/"><button>Back To Home</button></a>
          </div>
        </div>
      </div>  
    </div>
  </div>    

 {{>footer}}
</body>

</html>